<style type="text/css">
    .cookiePolicy {
        display: none;
        visibility: hidden;
        content: '';
    }


</style>

    <div class='form-group'>
    <input name='genre' class='form-control' id='genre' placeholder='genre'></input>
    <input name='city' class='form-control' id='city' placeholder='city'></input>
    <button id='enter' class='btn btn-primary'>go</button>
    </div>

    <ul id='ul'>

    </ul>

<iframe width='100%' id='iframe' style='border-style: none' border='0' cellspacing='0' height='166' scrolling='no' frameborder='no'>

</iframe>
    <%= @server_embed %>

<%= @responce %>

<!-- <!DOCTYPE html> <html lang="en"> <head> <meta charset="UTF-8" /> <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" /> <meta name="viewport" content="width=device-width, minimum-scale=1, maximum-scale=1, user-scalable=no" /> <title>SoundCloud Widget</title> <base target="_blank" /> <meta http-equiv="x-dns-prefetch-control" content="on" /> <link rel="dns-prefetch" href="//wis.sndcdn.com" /> <link rel="dns-prefetch" href="//i1.sndcdn.com" /> <meta http-equiv="x-dns-prefetch-control" content="off" /> <link rel="stylesheet" href="/player/assets/widget-cf3fab77.css" /><script src="/player/assets/widget-3f09548e.js"></script><script>require(["lib/support", "lib/flash-widget"], function(support, flashWidget) {if (support.newWidget) { require(["application"], function(A) {A.start("3f09548e")}) } else { $(flashWidget.start); }});</script></head> <body> <div id="widget" class="widget g-background-default g-shadow-inset" style="height: 100%;"></div> </body> </html> -->

 <!--    <iframe width="100%" height="166" scrolling="no" frameborder="no" 
    src="https://w.soundcloud.com/player/?url=https%3A//api.soundcloud.com/tracks/59051244&color=ff5500">
    </iframe> -->

<script type="text/javascript">
    $('#enter').on('click', function(){
        $.ajax({
            url: '/test',
            method: 'post',
            dataType: 'json',
            data: { genre: $('#genre').val(), city: $('#city').val() }
        })
        .success( function(data){
            console.log(data);
            $('#ul').empty();
            for (var i=0;i<10;i++){
                var foo = $('<iframe width="100%"  style="border-style: none" border="0" cellspacing="0" height="166" scrolling="no" frameborder="no" src="//w.soundcloud.com/player/?url=//api.soundcloud.com/tracks/' + data[i].id +'&color=01DFA5&show_comments=false&show_artwork=true&show_playcount=false&liking=false&theme_color=01DFA5&sharing=false&buying=false&show_user=false&show_artwork=false"></iframe>');
                $('#ul').append(foo)
            }
        })
    })
    $('#iframe').html(<%= @responce %>)

</script>    